body{
    background: linear-gradient(rgba(69,177,201,0.6), white);

    display: flex;
    flex-direction: column;
    font-size: 1.5vh;
}

@font-face {
    font-family: asl;
    src: url("asl.ttf");
}

#photoprofil{
    width: 15vh;
    border-radius: 50%;
    margin-right: 25px;
}

#entete{
    align-items:flex-start;
    padding:1.5vh;
    margin:1.5vh;   
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,255,0.2);
    border-radius: 1.5vh;
    font-size: 2vw;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    font-weight: bold;
}

#name{
    font-size: 4vw;
}

ul{
    border-left: 1vh solid rgb(0,0,255);
    margin-left:6vw;
    list-style-type: none;
}

li{
    text-decoration: none;
    padding-left:2.5vh;
    margin-bottom: 2.2vh;
    background-image: url("photoicon.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 2vh;
}

#titreprincipal
{
    font-weight: bold;
    font-family: asl;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.categorie
{
    text-decoration: underline;
}

#corps{
    padding-left: 2vw;
}

ul li ul{
    border-left: none;
    margin-left: 0px;
    padding-left: 1.5vh;
    margin-top:1.5vh;
}

@media (min-width: 768px){
    body{
        background: linear-gradient(to right, rgba(64,177,201,0.6), white);  
    }

    #photoprofil{
        width: 20vh;
    }

}

@media (min-width: 1024px){

    body{
        font-size: 1.5vw;
    }

    #mainpart{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #left-part{
        border-right: 5px solid rgb(0,162,232);
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    #right-part{
        padding-left: 15px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}
